<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Keep" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Stale.Assembly" publicKeyToken="fedcba9876543210" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="false" />
  </system.web>
</configuration>
